<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.wallet.web.dao.TranSumInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.my.wallet.web.domain.bean.TranSumInfo">
		<result column="MONEY" jdbcType="VARCHAR" property="money" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="CONTENT" jdbcType="VARCHAR" property="content" />
		<result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
		<result column="TIME" jdbcType="VARCHAR" property="time" />
		<result column="ISSUM" jdbcType="VARCHAR" property="isSum" />
	</resultMap>
	<select id="queryPayOrderSumByMonth" parameterType="com.my.wallet.web.domain.bean.TranSumInfo"
		resultMap="BaseResultMap">
		select *
		FROM (select to_char(sum(t.tran_amt),'fm99999999999999999990.00') as money,
		TO_CHAR(t.tran_time, 'yyyy-mm') as month,
		'' as status,
		'' as content,
		'' as order_id,
		TO_CHAR(t.tran_time, 'yyyy-mm')||'-99' as orderTime,
		TO_CHAR(t.tran_time, 'yyyy-mm') as time,
		'true' as isSum
		from wallet_pay_order t
		<where>
			<if test="merchantId != null">
				and t.merchant_id = #{merchantId}
			</if>
			<if test="userNo != null">
				and t.user_no = #{userNo}
			</if>
		</where>
		group by TO_CHAR(t.tran_time, 'yyyy-mm')
		union
		select to_char(t.tran_amt,'fm99999999999999999990.00') as money,
		TO_CHAR(t.tran_time, 'yyyy-mm') as month,
		t.tran_status as status,
		t.remark as content,
		t.order_id as order_id,
		TO_CHAR(t.tran_time, 'YYYY-MM-DD HH24:MI:SS') as orderTime,
		TO_CHAR(t.tran_time, 'YYYY-MM-DD HH24:MI:SS') as time,
		'false' as isSum
		from wallet_pay_order t
		<where>
			<if test="merchantId != null">
				and t.merchant_id = #{merchantId}
			</if>
			<if test="userNo != null">
				and t.user_no = #{userNo}
			</if>
		</where>
		) a
		order by a.orderTime desc
	</select>
</mapper>