<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.wallet.web.dao.WalletAccountsMapper">
	<resultMap id="BaseResultMap" type="com.my.wallet.web.domain.WalletAccounts">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="MERCHANT_ID" jdbcType="VARCHAR" property="merchantId" />
		<result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
		<result column="PAY_PASSWORD" jdbcType="VARCHAR" property="payPassword" />
		<result column="BALANCE" jdbcType="DECIMAL" property="balance" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="BIND_STATUS" jdbcType="VARCHAR" property="bindStatus" />
		<result column="ACCOUNT_STATUS" jdbcType="VARCHAR" property="accountStatus" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="KEY_TEXT" jdbcType="VARCHAR" property="keyText" />
		<result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
		<result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
		<result column="FREEZE_BALAMT" jdbcType="DECIMAL" property="freezeBalamt" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, MERCHANT_ID, USER_NO, PAY_PASSWORD, BALANCE, MOBILE,
		BIND_STATUS, ACCOUNT_STATUS, CREATE_TIME, USER_NAME, KEY_TEXT, MERCHANT_NAME, ID_CARD,FREEZE_BALAMT
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wallet_accounts
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.my.wallet.web.domain.WalletAccounts">
		insert into wallet_accounts (ID,
		MERCHANT_ID, USER_NO, PAY_PASSWORD, BALANCE, MOBILE, BIND_STATUS,
		ACCOUNT_STATUS, CREATE_TIME, USER_NAME, KEY_TEXT, MERCHANT_NAME, ID_CARD,FREEZE_BALAMT
		)
		values (
		#{id,jdbcType=VARCHAR},
		#{merchantId,jdbcType=VARCHAR},
		#{userNo,jdbcType=VARCHAR},
		#{payPassword,jdbcType=VARCHAR},
		#{balance,jdbcType=DECIMAL},
		#{mobile,jdbcType=VARCHAR},
		#{bindStatus,jdbcType=VARCHAR},
		#{accountStatus,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{userName,jdbcType=VARCHAR},
		#{keyText,jdbcType=VARCHAR},
		#{merchantName,jdbcType=VARCHAR},
		#{idCard,jdbcType=VARCHAR},
		#{freezeBalamt,jdbcType=DECIMAL}
		)
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="merchantId != null">
				MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="userNo != null">
				USER_NO = #{userNo,jdbcType=VARCHAR},
			</if>
			<if test="payPassword != null">
				PAY_PASSWORD = #{payPassword,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				BALANCE = #{balance,jdbcType=DECIMAL},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="bindStatus != null">
				BIND_STATUS = #{bindStatus,jdbcType=VARCHAR},
			</if>
			<if test="accountStatus != null">
				ACCOUNT_STATUS = #{accountStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=TIMESTAMP},
			</if>
			<if test="keyText != null">
				KEY_TEXT = #{keyText,jdbcType=VARCHAR},
			</if>
			<if test="merchantName != null">
				MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				ID_CARD = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="freezeBalamt != null">
				FREEZE_BALAMT = #{freezeBalamt,jdbcType=DECIMAL},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 提现冻结金额方法 -->
	<update id="updateByPrimaryKeyFrozenPersonalWithDraw" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="freezeBalamt != null">
				 BALANCE=BALANCE-#{freezeBalamt,jdbcType=DECIMAL} ,FREEZE_BALAMT=FREEZE_BALAMT+#{freezeBalamt,jdbcType=DECIMAL}, 
			</if>
		</set>
		WHERE ID=#{id,jdbcType=VARCHAR} and BALANCE-#{freezeBalamt,jdbcType=DECIMAL}>=0
	</update>
	
	<!-- 扣减冻结金额 -->
	<update id="updateByPrimaryKeyUnfreezePersonalWithDraw" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="balance != null">
				 FREEZE_BALAMT=FREEZE_BALAMT-#{balance,jdbcType=DECIMAL}, 
			</if>
		</set>
		WHERE MERCHANT_ID=#{merchantId,jdbcType=VARCHAR} AND USER_NO=#{userNo,jdbcType=VARCHAR} and FREEZE_BALAMT-#{balance,jdbcType=DECIMAL}>=0
	</update>
	<!-- 解冻冻结金额退还到账户余额中 -->
	<update id="updateByPrimaryKeyReturnFreezePersonalWithDraw" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="freezeBalamt != null">
				 BALANCE=BALANCE+#{freezeBalamt,jdbcType=DECIMAL} , FREEZE_BALAMT=FREEZE_BALAMT-#{freezeBalamt,jdbcType=DECIMAL}, 
			</if>
		</set>
		WHERE MERCHANT_ID=#{merchantId,jdbcType=VARCHAR} AND USER_NO=#{userNo,jdbcType=VARCHAR} and FREEZE_BALAMT-#{freezeBalamt,jdbcType=DECIMAL}>=0
	</update>
	<!-- 转账转出 -->
	<update id="updateByPrimaryKeyTransferBalancetOut" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="balance != null">
				 BALANCE=BALANCE-#{balance,jdbcType=DECIMAL} , 
			</if>
		</set>
		WHERE MERCHANT_ID=#{merchantId,jdbcType=VARCHAR} AND USER_NO=#{userNo,jdbcType=VARCHAR} and BALANCE-#{balance,jdbcType=DECIMAL}>=0
	</update>
	<!-- 转账转入或充值使用 -->
	<update id="updateByPrimaryKeyTransferBalancetInto" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="balance != null">
				 BALANCE=BALANCE+#{balance,jdbcType=DECIMAL} ,  
			</if>
		</set>
		WHERE MERCHANT_ID=#{merchantId,jdbcType=VARCHAR} AND USER_NO=#{userNo,jdbcType=VARCHAR}
	</update>
	
	<!--余额付款 -->
	<update id="updateBalenceByPrimaryKey" parameterType="com.my.wallet.web.domain.WalletAccounts">
		update wallet_accounts
		<set>
			<if test="balance != null">
				 BALANCE=BALANCE-#{balance,jdbcType=DECIMAL} ,  
			</if>
		</set>
		WHERE MERCHANT_ID=#{merchantId,jdbcType=VARCHAR} AND USER_NO=#{userNo,jdbcType=VARCHAR} and BALANCE-#{balance,jdbcType=DECIMAL}>=0
	</update>
	

	<select id="queryWalletAccount" resultMap="BaseResultMap"
		parameterType="com.my.wallet.web.domain.WalletAccounts">
		select
		<include refid="Base_Column_List" />
		from wallet_accounts
		<where>
			<if test="merchantId != null">
				MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
			</if>
			<if test="userNo != null">
				and USER_NO = #{userNo,jdbcType=VARCHAR}
			</if>
			<if test="accountStatus != null">
				and ACCOUNT_STATUS = #{accountStatus,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
</mapper>